<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<style>
    body{
        width: auto;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #120F1C;
        color: white;
    }
    .card{
        background-color:#3A2E54 ;
    }
    .btn{
background-color: #3FFF97;
color: #000;
    }
    
    
</style>
  </head>
  <body>
 
  <div class="container">
    <div class="card text-center">
        <div class="card-header">
          QrAtt
        </div>
        <div class="card-body ">
          <h5 class="card-title">Verify Your Account</h5>
          <p class="card-text">Please click on the link to verify your account and get best experience from our product.Verification is the process of security ,coaprate plese</p>
          <a href="<%= link %>" class="btn ">Click To Verify</a>
        </div>
      </div>
  </div>
  </body>
</html>